<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CLAP" version="4.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Razor" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-rc2" targetFramework="net462" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net462" />
  <package id="RazorEngine" version="4.4.0-rc1" targetFramework="net462" />
  <package id="RazorEngine.Roslyn" version="4.1.0-rc1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net462" />
  <package id="TuesPechkin" version="2.1.1" targetFramework="net452" />
  <package id="TuesPechkin.Wkhtmltox.AnyCPU" version="0.12.3.2" targetFramework="net452" />
</packages>